<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="{{url_for('static', filename='img/robo.png')}}">

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <!-- Keywords for google search -->
        <meta name="description" content="Robo">
        <meta name="keywords" content="Robo">

        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">

        <!-- Web Application Manifest -->
        <link rel="manifest" href="./manifest.json">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="Robo">
        <link rel="icon" sizes="192x192" href="{{url_for('static', filename='img/robo.png')}}">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#75c7eb">
        <meta name="apple-mobile-web-app-title" content="Robo">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='img/robo.png')}}">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="{{url_for('static', filename='img/robo.png')}}">
        <meta name="msapplication-TileColor" content="#ffffff">

        <!-- Color the status bar on mobile devices -->
        <meta name="theme-color" content="#75c7eb">

        <!-- Import webfonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        
        <!-- Styles -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/play.css')}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!-- JavaScript -->
        <script src="{{url_for('static', filename='js/app.js')}}" type="module"></script>
        <script src="{{url_for('static', filename='js/play.js')}}" type="module"></script>

        <svg viewBox="0 0 100 100" display="none">
            <defs>
                <path id="arrow" d="M0 100 L50 0 L100 100 Z" stroke-linejoin="round"/>
            </defs>
        </svg>
    </head>
    <body class="no-select">
        <div class="flex-box panel source">
            <div class="container">
                <div class="flex-box box" draggable="true">
                    <div><i class="fas fa-arrow-alt-circle-up fa-4x"></i></div>
                    <div>Forwards</div>
                </div>
            </div>
            <div class="container">
                <div class="flex-box box" draggable="true">
                    <i class="fas fa-arrow-alt-circle-down fa-4x"></i>
                    <div>Backwards</div>
                </div>
            </div>
            <div class="container">
                <div class="flex-box box" draggable="true">
                    <div><i class="fas fa-arrow-alt-circle-left fa-4x"></i></div>
                    <div>Left</div>
                </div>
            </div>
            <div class="container">
                <div class="flex-box box" draggable="true">
                    <div><i class="fas fa-arrow-alt-circle-right fa-4x"></i></div>
                    <div>Right</div>
                </div>
            </div>
        </div>
        <div class="flex-box panel target">
            <div class="container master-container target-container"></div>
        </div>
        <div class="flex-box controls">
            <div class="flex-box control bin">
                <div><i class="far fa-trash-alt fa-5x"></i></div><div>Bin</div>
            </div>
            <div class="flex-box control play"><div><i class="fas fa-play fa-5x"></i></div><div>Play</div></div>
            <div class="flex-box control pause"><div><i class="fas fa-pause fa-5x"></i></div><div>Pause</div></div>
            <div class="flex-box control restart"><div><i class="fas fa-undo fa-5x"></i></div><div>Restart</div></div>
        </div>
    </body>
</html>