/* The width and height properties of elements (and min/max properties) includes content, padding and border */
html 
{
    box-sizing: border-box;
}
*, *:before, *:after 
{
    box-sizing: inherit;
}

/* Full page app */
 html, body 
 {
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    color:#444;
    margin: 0 auto;
}

/* Prevent tap highlight and text selection */
.no-select 
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

.source
{
    margin:20px;
    padding:20px 20px 20px 0px;
    min-height:100px;
    border: solid 1px #ccc;
    background-color: #f9f9f9;
}
.target
{
    margin:20px;
    padding:20px 20px 20px 0px;
    min-height:100px;
    border: solid 1px #ccc;
    background-color: #f9f9f9;
}
.box
{
    padding:20px;
    border: solid 1px #ccc;
    background-color: #f9f9f9;
}
.box:hover
{
    cursor:move;
    cursor: -webkit-grab;
    cursor:    -moz-grab;
    cursor:         grab;
}
.draggable
{
    /*transition: padding 0.3s;*/
    padding-left:20px;
}
.draggable-on-drag-over
{
    padding-left:100px;
}
.hide-source
{
    display: none;
}