/* The width and height properties of elements (and min/max properties) includes content, padding and border */
html 
{
    box-sizing: border-box;
}
*, *:before, *:after 
{
    box-sizing: inherit;
}

/* Full page app */
 html, body 
 {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* Prevent tap highlight and text selection */
.no-select 
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}
.column
{
    flex-flow: column nowrap;
}

/* Controls */
.ctrl
{
    padding:10px;
}
.btn
{
    position:absolute;
    cursor: pointer;
    opacity:0.7; 
}
.btn:hover
{
    opacity:1;
}
#btn-left
{
    bottom:0px;left:0px;width:100px;height:100px;
}
#btn-right
{
    bottom:0px;left:100px;width:100px;height:100px;
}
#btn-forward
{
    bottom:100px;right:0px;width:100px;height:100px;
}
#btn-backward
{
    bottom:0px;right:0px;width:100px;height:100px;
}
#btn-left-forward
{
    top:0px;right:50px;width:50px;height:50px;
}
.btn-icon
{
    width:100%;
    height:100%;
    fill: #3cc3f7;
    stroke-width: 2;
}
.label
{
    font-family: sans-serif;
    font-size: 1rem;
    color:#05a0d4;
    justify-content:center;
    align-items:center;
}
#slider-speed
{
     position:absolute;top:0px;left:0px;
}
.ctrl-slider
{
    flex:1;
}
.slider 
{
    -webkit-appearance: none;
    /*transform: rotate(270deg);*/
    width: 200px;
    height: 50px;
    background: #e6f8ff;
    outline: none;
    opacity: 0.7;
}
.slider:hover 
{
    opacity: 1;
}
.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: #3cc3f7;
    cursor: pointer;
}

/* Video feed */
.video-feed
{
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    align-items:center;
    justify-content: center;
}
.video-feed img 
{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}