<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel="icon" href="/img/robo.png">

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Keywords for google search -->
        <meta name="description" content="Robo">
        <meta name="keywords" content="Robo">

        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">

        <!-- Web Application Manifest -->
        <link rel="manifest" href="./manifest.json">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="Robo">
        <link rel="icon" sizes="192x192" href="/img/robo.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#75c7eb">
        <meta name="apple-mobile-web-app-title" content="Robo">
        <link rel="apple-touch-icon" href="/img/robo.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="/img/robo.png">
        <meta name="msapplication-TileColor" content="#ffffff">

        <!-- Color the status bar on mobile devices -->
        <meta name="theme-color" content="#75c7eb">

        <!-- Styles -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/robo.css">

        <!-- JavaScript -->
        <script src="/js/app.js" type="module"></script>

        <svg viewBox="0 0 100 100" display="none">
            <defs>
                <path id="arrow" d="M0 100 L50 0 L100 100 Z" stroke-linejoin="round"/>
            </defs>
        </svg>
    </head>
    <body>
        <div class="flex-box controller no-select"/> 
            <div class="flex-box panel panel-row"> 
                <div class="flex-box panel panel-column"> 
                    <div class="flex-box panel panel-column" style="flex:2"> 
                        <div class="flex-box"> 
                            <div class="flex-box label">S</div>
                            <div class="ctrl"><input class="slider" data-action="speed" type="range" min="0" max="1" value="0.5" step="0.01"></div>
                        </div>
                        <div class="flex-box"> 
                            <div class="flex-box label">C</div>
                            <div class="ctrl"><input class="slider" data-action="curve" type="range" min="0" max="1" value="0.5" step="0.01"></div>
                        </div>
                    </div>
                    <div class="flex-box panel panel-row"> 
                        <div class="flex-box ctrl btn" data-action="left">
                            <svg viewBox="0 0 100 100">
                                <use class="btn-icon" xlink:href="#arrow" transform="rotate(-90 50 50)"/>
                            </svg>
                        </div>
                        <div class="flex-box ctrl btn" data-action="right">
                            <svg viewBox="0 0 100 100">
                                <use class="btn-icon" xlink:href="#arrow" transform="rotate(90 50 50)"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="flex-box panel panel-column"> 
                    <div class="flex-box ctrl btn" data-action="forward">
                        <svg viewBox="0 0 100 100">
                            <use class="btn-icon" xlink:href="#arrow"/>
                        </svg>
                    </div>
                    <div class="flex-box ctrl btn" data-action="stop">
                        <svg viewBox="0 0 100 100">
                            <circle id="btn-icon-stop" class="btn-icon" data-action="stop" xlink:href="#arrow" cx="50" cy="50" r="50"  />
                        </svg>
                    </div>
                    <div class="flex-box ctrl btn" data-action="backward">
                        <svg viewBox="0 0 100 100">
                            <use class="btn-icon" xlink:href="#arrow" transform="rotate(180 50 50)"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>