/* The width and height properties of elements (and min/max properties) includes content, padding and border */
html 
{
    box-sizing: border-box;
}
*, *:before, *:after 
{
    box-sizing: inherit;
}

/* Full page app */
 html, body 
 {
    height: 100%;
    margin: 0;
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

/* Prevent tap highlight and text selection */
.no-select 
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* Control panel */
.control-panel
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    flex-flow: row nowrap;
}
.control-panel-left, .control-panel-right
{
    flex:1;
}
.control
{
	cursor: pointer;
    stroke: #00bfff;
    fill: #e6f8ff;
    stroke-width: 2;
    opacity:0.7;
}
.control:hover
{
    opacity:1;
}
#control-left
{

}
#control-right
{

}
#control-forwards
{

}
#control-stop
{

}
#control-backwards
{

}